@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Machine Details</h1>
<hr />
<h1>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h1>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This machine is not able to be repaired by any engineers</p>
}
else
{
  <h4>Engineers this machine can be repaired by:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Engineer.Name</li>
    
    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete"/>
    }
   
  }
  </ul>
}

<p>@Html.ActionLink("Back to Machines", "Index")</p>
<p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Add a Engineer", "AddEngineer", new { id = Model.MachineId})</p>